@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFBCBC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
}

h1{
    color: #F38BA0;
    font-size: 150px;
}

input[type='text']{
    font-size: 24px;
    background-color: #B5EAEA;
    border-radius: 8px;
    border: 1px solid #B5EAEA;
    padding: 4px 6px;
    color: #666;
}

input[type='text']:focus{
    background-color: #EDF6E5;
    outline: none;
}

li{
    list-style: none;
    background-color: #EDF6E5;
    border-radius: 3px;
    border: 1px solid #B5EAEA;
    padding: 4px 6px;
    font-size: 18px;
}

#tip{
    text-align: center;
    margin-top: 40px;
}

a.add{
    float: right;
    margin-top: 10px;
    background-color: #F38BA0;
    text-decoration: none;
    text-transform: uppercase;
    color: #EDF6E5; 
    padding: 3px;   
    border-radius: 8px;
}

a.add:hover{
    position: relative;
    top: 1px;
    background-color:#F56FAD ;
}